<ul class="list-group list-group-flush">
  <li
    *ngFor="let log of logs; let i = index"
    class="list-group-item list-group-item-action"
    [ngClass]="{
      'list-group-item-danger': log.status === 'new' && log.priority === 'high',
      'list-group-item-warning': log.status === 'new' && log.priority === 'low'
    }"
    (click)="click(log)">
    {{ log.timestamp | date:'HH:mm' }} {{ log.reason }}
      <div class="buttons" *ngIf="log.status === 'new'">
        <button class="btn btn-sm btn-success" (click)="updateEventStatus(i, 'resolved')">
          <fa-icon [icon]="['fas', 'check']"></fa-icon>
          <!-- Решено -->
        </button>
        <button class="btn btn-sm btn-link" (click)="updateEventStatus(i, 'rejected')">
          <!-- <fa-icon [icon]="['fas', 'times']"></fa-icon> -->
          <!-- Херня -->
          скрыть
        </button>
      </div>
    </li>
</ul>