// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:400,400i,700&subset=cyrillic');

// Palette
$palette1: #dfe7e4;
$palette2: #a7b3a8;
$palette3: #885861;
$palette4: #534744;
$black:    #000;
$white:    #fff;

// Basic variables
$font-primary:   'Noto Sans', sans-serif;
$font-secondary: 'Noto Serif', serif;
$color-primary:   $black; // Основной текст
$color-secondary: $black; // Вспомогательный текст (например, заголовки)
$color-bg:        $white; // Цвет фона
$color-link:      $palette2;			// Цвет ссылок


// Bootstrap variables

// Palette
$red:           #d9534f;
$orange:        #f0ad4e;
$yellow:        #ffd500;
$green:         #5cb85c;
$blue:          #0275d8;
$teal:          #5bc0de;
$pink:          #ff5b77;
$purple:        #613d7c;
$black:         #000;
$gray-dark:     #292b2c;
$gray:          #464a4c;
$gray-light:    #636c72;
$gray-lighter:  #eceeef;
$gray-lightest: #f7f7f9;
$white:         #fff;

// Options
$enable-rounded:           true;
$enable-shadows:           false;
$enable-gradients:         false;
$enable-transitions:       true;
$enable-hover-media-query: false;
$enable-grid-classes:      true;
$enable-print-styles:      true;