@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
}

// For responsive features
@media (max-width: 575px) {} // xxs
@media (min-width: 576px) and (max-width: 767px) {} // xs
@media (min-width: 768px) and (max-width: 991px) {} // sm
@media (min-width: 992px) and (max-width: 1199px) {} // md
@media (min-width: 1200px) {} // lg

.list-group-item-action {
  cursor: pointer;
}