<div class="menu">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" (click)="selectWindow('all')">
      Все камеры
    </li>
    <li
      *ngFor="let room of common.rooms"
      class="list-group-item list-group-item-action"
      [ngClass]="{active: common.roomSelected.id === room.id}"
      (click)="selectWindow(room.id + '')"
      (mouseover)="common.roomSelected = room"
    >
      {{ room.name }}
    </li>
  </ul>

  <app-map class="map"></app-map>
</div>