<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-action" (click)="selectWindow('video-matrix')">
    Все камеры
  </li>
  <li class="list-group-item list-group-item-action" (click)="selectWindow('map')">
    Цех 1
  </li>
  <li class="list-group-item list-group-item-action" (click)="selectWindow('map')">
    Цех 2
  </li>
  <li class="list-group-item list-group-item-action" (click)="selectWindow('map')">
    Цех 3
  </li>
  <li class="list-group-item list-group-item-action" (click)="selectWindow('map')">
    Цех 4
  </li>
</ul>