.map {
  width: 500px;
  height: 500px;
  background-image: url('../../../assets/images/map_1.png');
  position: relative;

  .camera {
    width: 119px;
    height: 100px;
    position: absolute;
    transform-origin: left center;
    background-image: url('../../../assets/images/camera.png');

    &.warning {
      background-image: url('../../../assets/images/camera_orange.png');
    }

    &.danger {
      background-image: url('../../../assets/images/camera_red.png');
      animation: blink-animation 500ms infinite;
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}