.video-frame {
  position: relative;
  width: 100%;
  height: 100%;
  // max-height: 160px;

  video {
    width: 100%;
    height: 100%;
  }

  .blinker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 15px solid #900;
    opacity: .7;
    // filter: blur(10px);
    animation: blink-animation 500ms infinite;
  }
}